@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('./fonts/PT-Sans-fontfacekit/PTN57F-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	position: relative;
	font-family: PTSansNarrowRegular,sans-serif;
	font-size: 18px;
	margin: 0;
	background: black;
	color: white;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a {
	color: white;
}

.clear {
	clear: left;
}

.button {
	float: left;
	display: block;
	background: #303030;
	margin: 3px;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	color: #dbdbdb;
	font-size: 40px;
	cursor: pointer;
}

.button:active {
	background: #ff3c86 !important;
}

.first #votes .button,
#votes .button.plus {
	opacity: 0.5;
}

.first #votes .button.plus {
	opacity: 1;
}

/************************************************************************************************/
/*
/* Toolbar
*/

#toolbar {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 314px;
	padding: 0 3px;
	height: 44px;
	background: #930037;
}

#toolbar .button {
	margin: 6px 3px;
	font-size: 16px;
	padding: 9px 0 0 0;
	height: 23px;
	width: 86px;
	background: #d40050;
}

#toolbar .button.man {
	width: 30px;
}

/************************************************************************************************/
/*
/* Pages
*/

.page {
	width: 320px;
	height: 480px;
	float: left;
}

div#wrap {
	position: absolute;
	width: 320px;
	height: 100%;
	overflow: hidden;
}

div#pages {
	position: absolute;
	top: 44px;
	width: 20000em;
	height: 480px;
	opacity: 0;
	transition: opacity 0.3s;
}

.loaded div#pages {
	transition: opacity 1s;
	opacity: 1;
}

/************************************************************************************************/
/*
/* Intro
*/

div#intro {
	text-align: center;
	background: url("audience.jpg") no-repeat;
	width: 320px;
	height: 100%;
	text-shadow: 0 0 15px #000,0 0 10px #000,0 0 3px #000;
}

div#intro a#logo {
	display: block;
	width: 240px;
	height: 240px;
	margin: 60px auto;
	background: url("logo.png") no-repeat center center;
	background-size: 1%;
	opacity: 0;
	transition: background-size 2s;
	-webkit-transition: background-size 2s;
}

.ready div#intro a#logo {
	background-size: 100%;
	opacity: 1;
	transition: background-size 2s;
	-webkit-transition: background-size 2s;
}

div#intro div#content.install {
	opacity: 0;
}

div#intro img {
	padding: 30px 44px 30px 44px;
}

h1 {
	margin: 0 0 10px 0;
	font-size: 44px;
}

p {
	margin: 0 0 5px 0;
	line-height: 1.2;
}

div#install {
	background: url("install.png") no-repeat 0 -90px;
	position: absolute;
	left: 9;
	top: 0;
	width: 240px;
	height: 100%;
	margin: 0 auto;
	padding: 0 50px;
	display: none;
	text-align: left;
}

div#install span {
	display: block;
	margin-top: 20px;
	font-family: "icomoon";
	font-size: 50px;
}

.col {
	width: 240px;
	margin: 10px auto 10px auto;
	overflow: hidden;
	clear: left;
	float: none;
}

.button.anzahl_jurymitglieder {
	width: 28px;
	font-size: 22px;
	background: #d40050;
	padding: 7px 0 3px 0;
	margin: 3px
}

.modus.button {
	width: 240px;
	font-size: 22px;
	background: #d40050;
	padding: 7px 0 3px 0;
	float: none;
}

.col h2,
.col p {
	clear: left;
	width: 240px;
	margin: 10px 0 10px 0;
}

.col p {
	font-size: 16px;
}

/************************************************************************************************/
/*
/* Votes
*/

/* Ohne Nachkommastellen */

#wertung1 .button {
	width: 154px;
	padding-top: 16px;
	height: 53px;
}

#wertung1.button.wertung:nth-child(4n+1) {
	clear: inherit;
}

/* 0.5er-Nachkommastellen */

#wertung2 .button.wertung:nth-child(4n+1),
#wertung3 .button.wertung:nth-child(4n+1) {
	clear: left;
}

#wertung2 .button,
#wertung3 .button {
	width: 74px;
	padding-top: 16px;
	height: 53px;
}

#wertung2 .button[wertung="vote100"] {
	width: 154px;
}

/* Weiter */

.button.pressed {
	background: #d40050;
}

.button.add {
	background: #6a0028 !important;
}

.button.jury {
	width: 32px;
	height: 27px !important;
	padding-top: 8px !important;
	font-size: 22px !important;
}

.button.aktuell {
	background: white;
	color: black;
}

.streich {
	text-decoration: line-through;
	color: #d40050;
}

a#ergebnis {
	_width: 48px !important;
	margin-right: 0;
	font-weight: bold;
	background: -webkit-gradient(linear,0 0,0 100%,from(#dc24e8),to(#ab35b2));
	background: white;
	color: black;
}

div#score {
	text-align: center;
	font-size: 200px;
	height: 200px;
	padding: 140px 0;
}

/************************************************************************************************/
/*
/* Man
*/

div#man.page {
	overflow: auto;
}
